<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beacons.app.beaconsapp">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23"
        />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.beacons.app.beaconsapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <permission android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"
        />

    <uses-permission
        android:name="com.beacons.app.beaconsapp.permission.C2D_MESSAGE"/>

    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:name=".Globals"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data android:name="PW_APPID" android:value="70C21-84EA1" />
        <meta-data android:name="PW_PROJECT_ID" android:value="A922367254091" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity android:name="com.pushwoosh.richpages.RichPageActivity" />
        <activity android:name="com.pushwoosh.MessageActivity" />
        <activity android:name="com.pushwoosh.PushHandlerActivity" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.beacons.app.beaconsapp" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.pushwoosh.GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <service
            android:name="com.pushwoosh.GCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name="com.pushwoosh.GCMRegistrationService"
            android:exported="false">
        </service>

        <receiver android:name="com.beacons.app.beaconsapp.NotificationReceiver" />
        <meta-data android:name="PW_NOTIFICATION_RECEIVER" android:value="com.beacons.app.beaconsapp.NotificationReceiver"/>

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CodeEntryAvtivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".MyEventsActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".HomeActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".BeaconsListActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".MenuDetails" android:screenOrientation="portrait"></activity>

        <activity android:name="com.beacons.app.qrcodescanner.ScannerActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".NotificationListAvticity" android:screenOrientation="portrait"></activity>

        <receiver android:name="com.beacons.app.beacons.BeaconstacBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.mobstac.beaconstac.intent.action.RANGED_BEACON" />
                <action android:name="com.mobstac.beaconstac.intent.action.CAMPED_BEACON" />
                <action android:name="com.mobstac.beaconstac.intent.action.EXITED_BEACON" />
                <action android:name="com.mobstac.beaconstac.intent.action.TRIGGERED_RULE" />
                <action android:name="com.mobstac.beaconstac.intent.action.ENTERED_REGION" />
                <action android:name="com.mobstac.beaconstac.intent.action.EXITED_REGION" />
                <action android:name="com.mobstac.beaconstac.intent.action.ENTERED_GEOFENCE" />
                <action android:name="com.mobstac.beaconstac.intent.action.EXITED_GEOFENCE" />
            </intent-filter>
        </receiver>

        <service android:name="com.mobstac.beaconstac.core.MSBLEService" android:enabled="true"/>
        <service android:name="com.mobstac.beaconstac.core.MSGeofenceTransitionIntentService" />

        <provider
            android:name="com.beacons.app.beacons.MyContentProvider"
            android:authorities="com.beacons.app.beacons.MyContentProvider"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="true"
            android:grantUriPermissions="true"
            android:syncable="true" >
        </provider>

    </application>

</manifest>
